[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

flask = "*"
sqlalchemy = "*"
flask-sqlalchemy = "*"
faker = "*"
marshmallow = "*"
flask-restful = "*"
marshmallow-sqlalchemy = "*"
requests = "*"
click = "*"


[dev-packages]

pytest-flask = "*"
pytest = "*"
faker = "*"
ipython = "*"
rlipython = "*"
pdbpp = "*"
