[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

Flask = "*"
SQLAlchemy = "*"
Flask-SQLAlchemy = "*"
Faker = "*"
marshmallow = "*"
Flask-RESTful = "*"
marshmallow-sqlalchemy = "*"


[dev-packages]

pytest-flask = "*"
pytest = "*"
Faker = "*"
ipython = "*"
rlipython = "*"
pdbpp = "*"
